/* Source file
https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/fake_statusbar_w_bookmarksbar.css
made available under Mozilla Public License v. 2.0 See the
above repository for updates as well as full license text.
*/

/* Creates a statusbar at the bottom of the window by using
bookmarks toolbar */

/* Since it's really the bookmarks toolbar you should move
bookmarks away from bookmarks toolbar - for example to
menubar. You can do that with Customize Firefox mode */

/* If you want to show the page-loading status in the
statusbar then put a single flexible space as the leftmost
item in the bookmarks toolbar */
/* By default this flex-space will take 50% window width to
show the loading status bar */

/* Toolbar buttons/items will be aligned to the right edge
of the loading bar. If you wish to align them to the right
edge, then add another flex-space after the first one */


:root:not([inFullscreen])>body {
	--uc-browser-base-padding: calc(2 * var(--toolbarbutton-inner-padding) + 16px)
}

/* TODO: give status bar color */

#PersonalToolbar {
/*   	background-color: teal !important; */
/* background: linear-gradient(180deg,
    rgba(2,0,36,0.9,1) 0%,
    rgba(214,214,222,0) 6%,
    rgba(214,214,222,1) 100%); /* give the appearance of a line above the bar without shifting contents down */  */

  	border: 4px solid teal;
	position: fixed;
	display: flex;
	bottom: 0;
  left: 0;
	width: 100vw;
}

:root:not([inFullscreen]) #browser-bottombox {
	margin-bottom: calc(5px + var(--uc-browser-base-padding)) !important;
}

#PersonalToolbar>toolbarbutton {
	padding: 0 var(--toolbarbutton-outer-padding) !important;
}

/* icons not otherwise styled */
/* TODO: Make the size and spacing less jaggedy */
#PersonalToolbar>toolbarbutton>.toolbarbutton-icon,
#PersonalToolbar>toolbarbutton>.toolbarbutton-badge-stack {
		zborder: 4px solid violet !important;
		zbackground-color: firebrick !important;
/* 	width: var(--uc-browser-base-padding, 0px) !important; */
/* 	height: var(--uc-browser-base-padding, 0px) !important; */
	width: 1.5em !important;
	height: 1.5em !important;
	padding: var(--toolbarbutton-inner-padding) !important;
  
}

#personal-toolbar-empty+toolbarspring,
#PersonalToolbar> :first-child+toolbarspring {
	background-position: left 4px;
	background-repeat: no-repeat;
	background-image: -moz-element(#statuspanel);
	max-width: 50vw !important;
	/* Modify this to let the status bar grow larger than 50% of 
  window width */
	min-width: 60ch;
	flex-grow: 10;
/* 	position: fixed; */
/* 	display: flex;
	bottom: 40;
  right: 0;
	width: 100vw; */
}

#personal-toolbar-empty {
	visibility: hidden;
}

#PersonalToolbar>toolbarspring {
	flex-grow: 1;
	max-width: none !important;
	min-height: var(--uc-browser-base-padding) !important;
}

/* Using -moz-element() causes some problems after Firefox has been 
running several hours such as long tab switch times. For this reason 
the background image is removed on hover and focused states which 
appears to clear the state. */
#PersonalToolbar>toolbarspring:first-of-type:hover {
	background-image: none
}

#statuspanel-inner>#statuspanel-label {
	height: 3em;
	min-width: 1000px;
	background-color: transparent !important;
	border: none !important;
	font-size: inherit;
	color: inherit !important;
	margin-right: 0px !important;
}

/* If you use a theme where urlbar is partially transparent you should 
edit this color to something that closely matches the perceived color 
of urlbar. Or perhaps use background-image - linear-gradient() can work 
well here. But keep the color or image opaque or otherwise you'll face 
an issue where urlbar text bleeds through */
#statuspanel-inner {
	background-color: var(--toolbar-accent-color);
}

/*#statuspanel-inner{ background-color: var(--toolbar-non-lwt-bgcolor) }*/

#statuspanel {
		zborder: 4px solid violet !important;
/* 		background-color: thistle !important; */
	color: lightpink;
/* 	z-index: -1; */ /* removing this lets the status float above the other bookmarks bar content */
	z-index: 10;
	visibility: visible !important;
	opacity: 1 !important;
  height: 1.5em;
  bottom:0px;
  zleft:50px; /* space for find button */}

#statuspanel[inactive]>#statuspanel-inner>#statuspanel-label {
	visibility: hidden
}

/* style at rest */
#statuspanel[inactive]>#statuspanel-inner::before {
		zborder: 4px solid tomato !important;
		zbackground-color: gold !important;
	content: " "; /* default status bar text */
	color: var(--toolbar-field-color, black) !important;
/* 	z-index: 300; */
}

/* style when there is activity */
#statuspanel[type="status"] {
		zborder: 4px solid tomato !important;
/* 		background-color: gold !important; */
	background-color: #fff;
	color: black; /* TODO: utilize color scheme */
}

/* display of URLs when hovering over links */
#statuspanel-inner>#statuspanel-label[value^="https"] {
		zborder: 4px solid forestgreen !important;
		background-color: wheat !important;
	color: var(--toolbar-field-color, black) !important;
  z-index: 	50;
}


:root {
	--findicon-width: 50px;
}


/* find button styling */
#PersonalToolbar #find-button {
		zborder: 4px solid darkred !important;
		zbackground-color: burlywood !important;
		background-color: var(--accent02) !important;
/*   visibility: 	hidden */  
	width: var(--findicon-width) !important;
}

#PersonalToolbar #find-button:hover {
background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' \
	height='80%' width='70%'%3E%3Cdefs%3E%3Cpattern \
	id='doodad' \
	width='33' height='33' \
	viewBox='0 0 40 40' patternUnits='userSpaceOnUse' \
	patternTransform='rotate(90)'%3E%3Crect \
	width='100%25' height='100%25' \
	fill='rgba(112, 36, 89,0)'/%3E%3Cpath \
	d='M0 40h-10v-60h60L40 0L37 3h-34v34z' \
	fill='rgba(160, 174, 192,1)'/%3E%3Cpath \
	d='M40 0v10h60v60L0 40L3 37h34v-34z' \
	fill='rgba(26, 32, 44,1)'/%3E%3Cpath \
	d='M40 0v10h60v60L0 40L6.666666666666667 33.333333333333336h26.666666666666664v-26.666666666666664z' \
	fill='rgba(160, 174, 192,1)'/%3E%3Cpath \
	d='M0 40h-10v-60h60L40 0L33.333333333333336 6.666666666666667h-26.666666666666664v26.666666666666664z' \
	fill='rgba(26, 32, 44,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' \
	height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

/* put the find bar into the status bar */
findbar {
		zborder: 4px solid darkred !important;
		background-color: transparent !important;
	position: fixed;
	display: flex;
	bottom: 0;
  left: px;
  z-index: 1;
/* 	width: 100vw; */
}

findbar toolbarbutton.findbar-closebutton {
		zborder: 4px solid tomato !important;
		zbackground-color: gold !important;
/* 	background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='25' height='25' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,0)'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L35 4h-30v32z' fill='rgba(197, 48, 48,1)' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M40 0v10h60v60L0 40L5 36h30v-32z' fill='rgba(236, 201, 75,1)'/%3E%3Cpath d='M40 0v10h60v60L0 40L8 30h24v-20z' fill='rgba(197, 48, 48,1)' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L32 10h-24v20z' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeTurbulence baseFrequency='0.9' numOctaves='2' type='fractalNoise' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='5' result='result2' xChannelSelector='R' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='fbSourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg>"); */
	order: -1; /* moves close box from right to left */
	height: 100%;
/* 	min-width: var(--findicon-width); */
	width: var(--findicon-width) !important;
	padding: 0px !important;
	margin: 0px !important;
}

/* the close button is on top of the find icon, but it is invisible */
findbar toolbarbutton.findbar-closebutton	image {
		zborder: 4px solid blueviolet !important;
		zbackground-color: cornflowerblue !important;
	visibility: 	hidden;
}

/* mouseover the find icon to close the findbar */
findbar toolbarbutton.findbar-closebutton:hover {
		zborder: 4px solid tomato !important;
/* 		background-color: orangered !important; */
/*   background-color: var(--accent02) !important; */
/*   background-color: var(--accent-neutral01); */
/* 	background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='150%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,0)'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L35 4h-30v32z' fill='rgba(197, 48, 48,1)' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M40 0v10h60v60L0 40L5 36h30v-32z' fill='rgba(236, 201, 75,1)'/%3E%3Cpath d='M40 0v10h60v60L0 40L8 30h24v-20z' fill='rgba(197, 48, 48,1)' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L32 10h-24v20z' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeTurbulence baseFrequency='0.9' numOctaves='2' type='fractalNoise' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='5' result='result2' xChannelSelector='R' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='fbSourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg>"); */
background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='120%' width='100%'%3E%3Cdefs%3E%3Cpattern id='doodad' width='33' height='33' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(112, 36, 89,0)'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L37 3h-34v34z' fill='rgba(160, 174, 192,1)'/%3E%3Cpath d='M40 0v10h60v60L0 40L3 37h34v-34z' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M40 0v10h60v60L0 40L6.666666666666667 33.333333333333336h26.666666666666664v-26.666666666666664z' fill='rgba(160, 174, 192,1)'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L33.333333333333336 6.666666666666667h-26.666666666666664v26.666666666666664z' fill='rgba(26, 32, 44,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}
















